.bloc {
    width: 18cm;
    height: 10cm;
    margin: auto;
}

header {
    margin-bottom: 35px;
}

.date {
    display: inline-block;
    padding-left: 440px;
}

td,
th {
    border: solid 1px black;
}

table {
    border-collapse: collapse;
    width: 18cm;
}

.centrer {
    text-align: center;
    margin-bottom: 20px;
}

.blocs_secondaire {
    margin-bottom: 20px;
}

.objet {
    margin: 10px 0px;
}

.arrete {
    margin: 20px 0px;
    width: 18cm;
    border: solid 1px black;
    border-bottom: solid white;
    padding: 10px 0px;
}

.facture {
    text-align: center;
    border: double 3px black;
    background-color: silver;
    padding: 15px 0px;
    margin-bottom: 20px;
    font-size: 30px;
}

.nb {
    border: dashed 1px black;
    padding: 15px 0px;
    margin-bottom: 20px;
}

.nom {
    margin: 30px 0px 0px 0px;
    padding-top: 50px 0px 0px 0px;
    text-decoration: underline;
    font-style: bold;
}

.trait {
    border: solid 0.1px black;
    border-bottom: white;
    margin-top: 20px;
    width: 18cm;
}

.ref {
    margin-top: 45px;
}

footer {
    text-align: center;
    margin: 15px 0px;
}
