 
.bloc{

    width: 400px;
    height: 400px;
    margin: auto;
}
table 
{   
margin-top: 100px;  
border-collapse: collapse; 
} 
td{
padding-top: 20px; 
}
center{
margin-top: 40px;
} 
#MF,#DT,#Somme
{
font-size: 20px;
position: absolute;
left: 1300px;
}
#DT
{
position: absolute;
top: 350px;
}
#NF,#NC
{

font-size: 20px;    
position: relative;
left: -350px;
}
#NC{
position: relative;
top: -40px;
}
.left
{
position: absolute;
left: 140px;
}
#remarque
{ 
    position: relative;
    left: -400px;
    font-size: 14px;
}
#MOOV
{
font-size: 20px;    
position: absolute;
top: 400px;
left: 740px;
}
#Pays
{
position: relative;
left: 70px;
}
#foot{
position: relative;
left: -350px;
top: 130px;
border-bottom: 3px #272727 dotted;
width: 800px;
 
} 

#foot1,#Trafic{
position: relative;
left: 300px;
}
#sommev{
position: relative;
left: 200px;
top:60px;
}

#INT{
position: relative;
top: 70px;
left: -350px;
}
#code{
position: relative;
top: 70px;
left: -500px;

}

#total{
position: relative;
left: 160px;
border-bottom: 3px black solid; 
width: 360px;
}

#Partie2{
position: relative;
top: 130px;
left: -350px;
}
h4{
text-align: center;
}
#delai{
  position: relative;
  left: 200px;
}

#Trafic{   
    border: solid  black 1px;
}
.trafic {
    position: absolute;
    left: -200px;    
    border: 1px black solid;
}

.col2 {
position: relative;
left: 50px;
}
.col3 {
position: relative;
left: 400px;
width: 400px;
}
.col4 {
position: relative;
left: 500px;
}
#SC{
position: relative;
left: 80px;

}

#table, #confirm
{
position: relative;
left:80px;
width: 600px;
}

#confirm{
position: relative ;
top: 50px ;
}
.tr1{
border: 1px solid black;
}
.tr2{
text-decoration: underline ;
width: 100px;
}
.tr2:nth-child(1), .tr2:nth-child(2){
position: relative ;
left: -110px ;
}
#Ttal{
border-bottom: 2px solid black ;

}
.tr3{
width: 300px;
}
#Vol{
position: relative ;
left: -60px ;
}

#MontantF{
position:  relative ;
left: 40px ;
}
#empty{
height: 10px ;
}

.final{
position: relative ;
left: 180px ;

}