 /*=============================================Capacite.css=========================================*/

 .bloc {
     width: 18cm;
     margin: auto;
 }

 #head {
     position: relative;
     top: 150px;
     border-top: 2px solid black;
 }

 #numFac {
     position: relative;
     top: -80px;
     left: 80px;
 }

 #FACTURE {
     font-size: 25px;
     width: 300px;
     border: 2px solid black;
     position: relative;
     top: -97px;
     float: right;
     text-align: center;
 }

 .insae {
     margin-top: 150px;
 }

 #headTitle {
     /* margin-left: 50px ;*/
 }

 #header {
     position: relative;
     top: 58px;
     width: 200px;
     font-size: 20px;
     border: 2px solid black;
 }

 #t1 {
     position: relative;
     top: 50px;
 }

 td,
 th {
     width: 130px;
 }

 .col1 {
     position: relative;
     width: 200px;
 }

 .col2 {
     position: relative;
     left: 80px;
     width: 100px;
     border-bottom: 1px solid silver;
 }

 .col3 {
     position: relative;
     left: 30px;
     width: 100px;
 }

 .Gras {
     text-decoration: underline;
 }

 #table1 {
     position: relative;
     top: 70px;
 }

 .table-1,
 th {
     border: 2px solid black;
 }

 #Tableau1,
 #Tableau2 {
     border-collapse: collapse;
 }

 .last {
     background-color: silver;
 }

 #signe {
     margin-top: 100px;
     font-size: 20px;
     font-style: bold;
     border: 1px gray solid;
     background-color: silver;
 }

 .centrer {
     text-align: center;
     margin-bottom: 20px;
 }

 .table2 {
     margin-top: 25px;
     margin-bottom: 40px;
 }

 #Tableau2 {
     border-collapse: collapse;
     width: 18cm;
 }

 .nom {
     margin: 40px 0px 5px 0px;
     padding-top: 50px 0px 0px 0px;
     text-decoration: underline;
     font-style: bold;
 }

 #ifu {
     margin-left: 10px;
 }
 /*==============================================Colocalisation.css======================================*/
 /*
*/
