table 
{   
    margin-top: 100px;  
    border-collapse: collapse; 
} 
td{
    padding-top: 20px; 
}
center{
    margin-top: 40px;
}
#MF,#DT,#Somme
{
    font-size: 20px;
    position: absolute;
    left: 700px;
}
#DT
{
    position: absolute;
    top: 370px;
}
#NF,#NC
{

    font-size: 20px;    
    position: relative;
    left: 140px;
}
.left
{
    position: absolute;
    left: 140px;
}
#remarque
{
    position: relative;
    left: 340px;
    top: 20px;

}
#MOOV
{
    font-size: 20px;    
    position: absolute;
    top: 390px;
    left: 150px;
}
#Pays
{
    position: relative;
    left: 70px;
}
#foot{
    position: relative;
    top: 130px;
    border-bottom: 3px #272727 dotted;

    
} 

#foot1{
    position: relative;
    left: 600px;
}
#sommev{
    position: relative;
    left: 600px;
    top:60px;
}

#INT{
    position: relative;
    top: 50px;
    left: 140px;
}
#code{
    position: relative;
    top: 50px;
    left: 170px;
}

#total{
    border: 3px black solid; 
}