.form-style-agile select {
    width: 100%;
    color: #000;
    outline: none;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 15px 15px;
    box-sizing: border-box;
    border: none;
    background: #fff;
    border-bottom: 3px double #f76b53;
    border-radius: 8px;
}

.invalid-feedback {
    color: #f54b2d;
    font-size: 1rem;
    font-weight: 450;
    margin-top: .8rem;
}
